---
layout:     base
title:      Solution Index
---

<div class="clrs-toc">
    {% for post in site.posts reversed %}
        {% if post.clrs %}
            {% assign current_chapter = post.clrs[0] %}
            {% assign current_section = post.clrs[1] %}
            {% if current_section != section %}
                {% if section != NIL %}
                </div> <!-- end section {{ section }} -->
            </div>
        {% endif %}
    {% endif %}

    {% if current_chapter != chapter %}
        {% unless forloop.first %}
        </div>
        </div> <!-- end chapter {{ chapter }} -->
        {% endunless %}
    <div class="clrs-chapter">
        <div class="chapter-title">
            {% assign chapter_int = current_chapter | minus : 0 %}
            {% if chapter_int > 0 %}
                {% assign chapter_index = current_chapter | minus : 1 %}
                <h4 id="{{ current_chapter }}">{{ current_chapter }} &nbsp;{{ site.data.toc.chapters[chapter_index].name }}</h3>
            {% else %}
                {% assign appendix_index = current_chapter | minus : 'A' %}
                <h4 id="{{ current_chapter }}">{{ current_chapter }} &nbsp;{{ site.data.toc.appendices[appendix_index].name }}</h3>
            {% endif %}
        </div>
        <div class="chapter-entry">
        {% assign chapter = current_chapter %}
    {% endif %}
    {% if current_section != section %}
        <div class="clrs-section">
            {% if current_section > 0 %}
                {% assign section_index = current_section | minus : 1 %}
                <div class="section-id">{{ current_chapter}}.{{ current_section }}</div>
                {% if chapter_int > 0 %}
                    <div class="section-title">{{ site.data.toc.chapters[chapter_index].sections[section_index].name }}</div>
                {% else %}
                    <div class="section-title">{{ site.data.toc.appendices[appendix_index].sections[section_index].name }}</div>
                {% endif %}
            {% else %}
                <div class="section-id">Problems</div>
            {% endif %}
            {% assign section = current_section %}
            <div class="problem-list">
            {% endif %}
            <span>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | remove: "Exercise " | remove: "Problem " }}</a>
            </span>
        {% endif %}
    {% endfor %}
</div>