<script>
     function showSupportMessage() {
          var placeholders = document.getElementsByClassName("support-message");
          console.log(placeholders);
          for (var i = 0; i < placeholders.length; i++) {
               placeholders[i].style.display = "block";
          }
     }
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" onerror="showSupportMessage();"></script>

<!-- Display_Horizontal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7476503486911097"
     data-ad-slot="5416910574"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<aside class="support-message">
     <header>Looks like you hate ads as much as I do!</header>
     <section>
     <p>And there is nothing wrong with that! However, the ads on this website are unobtrusive and used as section divider. It'd be great if you can whitelist this website from your adblocker and give it a try. If you don't like the experience, you can always turn it back on.</p>
     
     <p>Either way try to leave a message in the <a href="#disqus_thread">comments section</a> to show some support.</p>
     </section>
</aside>