<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Auto Ads -->
<script>
     (adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-7476503486911097", enable_page_level_ads: true});
</script>

<!-- Responsive_01
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7476503486911097"
     data-ad-slot="4485030819"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->