    </textarea>
</div>
<div class="clrs-button-wrapper">
    <table style="width: 100%">
        <tr>
            <td style="text-align: right">
                <button class="clrs-button" type="button" onclick="runit()">Run</button>
            </td>
            <td style="text-align: center">
                <button class="clrs-button" type="button" onclick="">Reset</button>
            </td>
            <td style="text-align: left">
                <button class="clrs-button" type="button" onclick="">Clear</button>
            </td>
        </tr>
    </table>
</div>
<div class="clrs-output-wrapper">
    <pre id="clrs-output"></pre>
</div>