<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_observer = new IntersectionObserver(function (entries) {
        // comments section reached
        // start loading Disqus now
        if (entries[0].isIntersecting) {
            var disqus_shortname = '{{ site.disqus_shortname }}';
            var disqus_identifier = '{{ page.url | prepend: site.baseurl }}';
            var disqus_title = '{{ page.title }}';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

            // once executed, stop observing
            disqus_observer.disconnect();
        }
    }, {threshold: [0]});
    disqus_observer.observe(document.querySelector("#disqus_thread"));
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>