<footer class="site-footer">
    <div>
        &copy; Atekihcan 2007 - {{ site.time | date: '%Y' }}
    </div>
</footer>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    // Left align KaTeX for pseudo codes
    document.addEventListener("DOMContentLoaded", function() { 
        var docs = document.querySelectorAll('.latex-pseudo-code > span > span');
        for (var i = 0; i < docs.length; i++) {
            docs[i].classList.add('fleqn');
        }
    });

    // Load ads
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
