<header class="page-header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <h4>
                <i class="fa fa-database"></i>&nbsp;&nbsp;<a href="{{ '/' | prepend: site.baseurl }}">Solutions for CLRS</a>&nbsp;&nbsp;<i class="fa fa-database"></i>
            </h4>
            <h1 class="page-title">
                {{ page.title }}
            </h1>
        </div>

        <!-- /.container-fluid -->
    </nav>
</header>