<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {{}}
    {%- assign image = "" -%}
    {%- assign description = page.description | default: "" -%}
    {%- assign title = "CLRS Solutions | " | append : page.title -%}
    {%- if page.collection -%}
        {%- if description == "" -%}
            {%- assign description = content | strip_html | strip | strip_newlines | truncate: 255 -%}
            {%- assign description = description | replace : '\(', '' -%}
            {%- assign description = description | replace : '\)', '' -%}
            {%- assign description = description | replace : '\left', '' -%}
            {%- assign description = description | replace : '\right', '' -%}
            {%- assign description = description | replace : '\begin {aligned}', '' -%}
            {%- assign description = description | replace : '\end {aligned}', '' -%}
            {%- assign description = description | replace : ' \times ', 'x' -%}
            {%- assign description = description | replace : '\', '' -%}
        {%- endif -%}
        {%- assign problem = page.title | split: ' ' | last -%}
        {%- assign chapter = problem | split: '.' | first -%}
        {%- assign chapter_int = chapter | minus: 0 -%}
        {%- if chapter_int > 0 -%}
            {%- assign chapter_index = chapter | minus: 1 -%}
            {%- assign title = title | append : " | " | append: site.data.toc.chapters[chapter_index].name -%}
            {%- assign image = chapter | prepend: '00' | slice: -2, 2 | prepend: '/assets/img/' | append: '/' | append: problem | append: ".jpg" | prepend: site.baseurl -%}
        {%- else %}
            {%- assign chapter_index = chapter | minus: 'A' -%}
            {%- assign title = title | append : " | " | append: site.data.toc.appendices[chapter_index].name -%}
            {%- assign image = chapter | prepend: '/assets/img/' | append: '/' | append: problem | append: ".jpg" | prepend: site.baseurl -%}
        {%- endif -%}
    {%- else -%}
        {%- assign description = site.description | strip_html | truncate: 255 -%}
    {%- endif -%}

    <!-- Legacy meta -->
    <meta name="description" content="{{ description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>

    <!--Schema-->
    <link rel="author" href="{{ site.author }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{%- if title -%}{{ title }}{%- else -%}{{ site.title }}{%- endif -%}"/>
    <meta itemprop="description" content="{{ description }}"/>

    <!-- OpenGraph -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url  }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:description" content="{{ description }}" />

    <!-- Structured Data -->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ title }}",
        "image": [
            "{{ image }}"
        ],
        "datePublished": "{{ page.published | date_to_xmlschema }}",
        {% if page.modified -%}
        "dateModified": "{{ page.modified | date_to_xmlschema }}",
        {%- else -%}
        "dateModified": "{{ page.published | date_to_xmlschema }}",
        {%- endif %}
        "author": {
            "@type": "Person",
            "name": "{{ site.author }}"
        }
    }
    </script>
    
    <title>{{ title }}</title>
