<script src="http://vast-engineering.github.io/jquery-popup-overlay/jquery.popupoverlay.js"></script>
<div id="popupBox" class="popup-box">
    <div class="popup-content">
        <div class="popup-title">
            <p class="pull-left">Feedback for {{ page.title }}</p>
            <a class="popupBox_close pull-right"><i class="fa fa-close"></i></a>
        </div>
        <form action="http://formspree.io/com.atekihcan@gmail.com" method="POST">
            <input type="text" placeholder="Your name" name="name" class="contact-field"></input>
            <input type="email" placeholder="Your e-mail" name="_replyto" class="contact-field"></input>
            <textarea rows="5" placeholder="Your message" name="message" class="contact-field" style="resize: none;"></textarea>
            <input type="submit" value="Send" class="btn btn-primary btn-large btn-block"></input>
        </form>
    </div>
</div>