<div class="article-nav">
    <div class="article-nav-left">
        {% if page.previous != nil %}
            <a href="{{ page.previous.url | prepend: site.baseurl }}">
                <i class="fa fa-2x fa-arrow-left"></i>
            </a>
            <span><strong>{{ page.previous.title | replace: 'Exercise', 'E' | replace: 'Problem', 'P' }}</strong></span>
        {% else %}
            <span></span>
        {% endif %}
    </div>
    <div class="article-nav-middle">
        <a href="{{ '/' | prepend: site.baseurl }}">
            <strong>Solution Index</strong>
        </a>
    </div>
    <div class="article-nav-right">
        {% if page.next != nil %}
            <span><strong>{{ page.next.title | replace: 'Exercise', 'E' | replace: 'Problem', 'P' }}</strong></span>
            <a href="{{ page.next.url | prepend: site.baseurl }}">
                <i class="fa fa-2x fa-arrow-right"></i>
            </a>
        {% else %}
            <span></span>
        {% endif %}
    </div>
</div>

{% for doc in site.solutions %}
    {% if doc.title == page.title %}
        {% unless forloop.first %}
            {% assign prevurl = prev.url | prepend: site.baseurl %}
            {% assign prevtitle = prev.title %}
        {% endunless %}
        {% unless forloop.last %}
            {% assign next = site.solutions[forloop.index] %}
            {% assign nexturl = next.url | prepend: site.baseurl %}
            {% assign nexttitle = next.title %}
        {% endunless %}
    {% endif %}
    {% assign prev = doc %}
{% endfor %}

{% include ads.html %}
