<div class="article-nav">
    <div class="article-nav-left">
        {% if page.previous != nil %}
            <a href="{{ page.previous.url | prepend: site.baseurl }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 448 512" fill="currentColor" aria-hidden="true"><path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/></svg>
            </a>
            <span><strong>{{ page.previous.title | replace: 'Exercise', 'E' | replace: 'Problem', 'P' }}</strong></span>
        {% else %}
            <span></span>
        {% endif %}
    </div>
    <div class="article-nav-middle">
        <a href="{{ '/' | prepend: site.baseurl }}">
            <strong>Solution Index</strong>
        </a>
    </div>
    <div class="article-nav-right">
        {% if page.next != nil %}
            <span><strong>{{ page.next.title | replace: 'Exercise', 'E' | replace: 'Problem', 'P' }}</strong></span>
            <a href="{{ page.next.url | prepend: site.baseurl }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 448 512" fill="currentColor" aria-hidden="true"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg>
            </a>
        {% else %}
            <span></span>
        {% endif %}
    </div>
</div>

{% for doc in site.solutions %}
    {% if doc.title == page.title %}
        {% unless forloop.first %}
            {% assign prevurl = prev.url | prepend: site.baseurl %}
            {% assign prevtitle = prev.title %}
        {% endunless %}
        {% unless forloop.last %}
            {% assign next = site.solutions[forloop.index] %}
            {% assign nexturl = next.url | prepend: site.baseurl %}
            {% assign nexttitle = next.title %}
        {% endunless %}
    {% endif %}
    {% assign prev = doc %}
{% endfor %}

{% include ads.html %}
