@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,700,700italic);

body {
    font-family: 'Verdana', Helvetica, sans-serif;
    padding-bottom: 60px;
    padding-top: 60px;
}

@media (max-width: 992px) {
    body {
        padding-bottom: 120px;
    }
}

code {
    font-family: 'Courier New', Courier, monospace;
}

blockquote{
    font-size: 1.2em;
    background: #f7f7f7;
    border-left: 5px solid #ddd;
}

/* navigation bar */
.title-holder{
    display: inline-block;
    padding-top: 15px;
    color : #002E62;
    font-size: 1.8em;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

.navbar{
    font-family: 'Josefin Sans', sans-serif;
}

.navbar .navbar-brand {
    padding: 0px;
}

.navbar .navbar-brand img {
    float: left;
    width: 50px;
}

.navbar-right li{
    font-size: 1.6em;
}

@media (max-width: 992px) {
    #main-menu li{
        font-size: 1.4em;
    }
    #main-menu li a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* page */
.page-header{
    margin: 10px 0;
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Josefin Sans', sans-serif;
}
.page-header h1{
    margin: 0;
}

.page-content{
    font-size: 1.0em;
    text-align: justify;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
}

.clrs-section{
	width: 100px;
	padding: 2px 10px;
}

.clrs-cell{
	width: 60px;
	padding: 2px 10px;
}

@media (max-width: 480px){
	.clrs-section{
		width: 80px;
		padding: 2px 10px 2px 5px;
	}

	.clrs-cell{
		width: 40px;
		padding: 2px 4px;
	}
}

.show-hide-button{
    cursor: pointer;
    font-weight: bold;
}

.clrs-code-wrapper{
    padding: 6px 0px 0px 6px;
    border: 2px solid #999;
}

#clrs-code{
    width: 100%;
}

.clrs-button-wrapper{
    padding: 5px 50px;
    overflow: hidden;
}

.clrs-button{
    width: 40%;
    border: 2px solid #999;
}

.clrs-output-wrapper{
    height: 100px;
    border: 2px solid #999;
}

#clrs-output{
    height: 96px;
    border: 0px;
}

.graph-box{
    margin: 10px auto 2px auto;
    width: 400px;
    height: 400px;
    border: 1px solid #999;
    border-radius: 5px;
}

.graph-credit{
    margin-bottom: 15px;
    text-align: center;
    font-size: 0.8em;
}

@media (max-width: 480px){
    .graph-box{
        width: 90%;
    }
}

 .page-footer{
    margin-top: 20px;
    padding-top: 5px;
    font-size: 1.2em;
    font-family: 'Josefin Sans', sans-serif;
 }

 .page-footer .left{
    width: 15%;
    text-align: left;
    font-size: 1.8em;
}

 .page-footer .middle{
    width: 70%;
    text-align: center;
}

 .page-footer .right{
    width: 15%;
    text-align: right;
    font-size: 1.8em;
}

 .page-footer .left-small{
    text-align: left;
    font-size: 0.9em;
}

 .page-footer .right-small{
    text-align: right;
    font-size: 0.9em;
}

/* footer */
.footer {
    background-color: #f5f5f5;
    left: 0;
    bottom: 0;
    min-height: 10px;
    position: fixed;
    width: 100%;
}

/* popup */
.popup-box {
    display: none;
}

#popupBox {
    transform: scale(0.8);
}

.popup_visible #popupBox {
    transform: scale(1);
}

.popup-content {
    padding: 10px 20px;
    border: 1px solid Black;
    border-radius: 5px;
    background: #fff;
}

.popup-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: hidden;
}

.popup-title  a{
    cursor: pointer;
}

.contact-field {
    width: 100%;
    padding: 5px;
    margin: 4px auto;
    border: 1px solid #33b5e5;
}