---
layout: default
---

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        <div class="page">
            <header class="page-header">
                <h4><i class="fa fa-database"></i>&nbsp;&nbsp;Solutions for CLRS&nbsp;&nbsp;<i class="fa fa-database"></i></h4>
                <h1 class="page-title"> {{ page.title }} </h1>
            </header>
            <article class="page-content">
                {{ content }}
            </article>
            <div class="page-footer">
                <hr/>
                <table style="width: 100%;">
                    <tr>
                        <td class="left">
                            {% if page.previous != nil and page.previous.clrs %}
                                <a href="{{ page.previous.url | prepend: site.baseurl }}"><i class="fa fa-arrow-left"></i></a>
                            {% endif %}
                        </td>
                        <td class="middle" rowspan="2">
                            <a href="{{ '/' | prepend: site.baseurl }}">Solution Index</a>
                        </td>
                        <td class="right">
                            {% if page.next != nil and page.next.clrs %}
                                <a href="{{ page.next.url | prepend: site.baseurl }}"><i class="fa fa-arrow-right"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="left-small">
                            {% if page.previous != nil and page.previous.clrs %}
                                {{ page.previous.title | truncate: 20 }}
                            {% endif %}
                        </td>
                        <td class="right-small">
                            {% if page.next != nil and page.next.clrs %}
                                {{ page.next.title | truncate: 20 }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
